@charset "UTF-8";
/*
Mary Ashley Kovacevich
11-1-2019
schedule_styles.css
Style step up for convention schedule
*/
/*
=========================
CrimChains Navigation Setup
=========================
*/
.cckaMenu {
    position: relative;
    display: inline-block;
    background: lavender;
    border-radius: 0px 0px 17px 17px;
    text-align: center;
    align-items: baseline;
    width: 100%;
    color: crimson;
}
.cckaMenu ul {
  display: inline-flex;
  list-style: none;

}
.cckaMenu ul li {
  padding-right: 1.5em;
  padding-left: 1.5em;
  flex: auto;
}
.cckaMenu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.cckaMenu ul li a:hover {
color: hotpink;
}


/*
================================
CrimChains Navigation Setup End
================================
*/
/*
===================
Design Styles Setup
===================
*/
body h1{
  font-size: 24pt;
  text-align: center;
  padding: 5px;
}
.calender caption{
  padding: 10px;
  margin: 5px;
  font-size: 15pt;
}
/*
=========================
Schedule style Setup
=========================
*/
table.calender{
  width: 75%; 
  border: 3px dotted black;
  border-collapse: collapse;
  font-family: Arial, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
table.calender tr{
  height: 25px;
}
table.calender th, table.calender td {
border: 1px solid hotpink;
vertical-align: top;
padding: 5px;
}
table.calender caption{
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
  caption-side: top;
  text-align: center;
}
col.sHours{
  background: cornsilk;
  width: 10%;
}
col.wDayColumns{
  background: floralwhite;
  width: 11%;
}
table.calender thead{ /*17 make header names green */
  color: white;
  background: burlywood;
  }
  table.calender thead th:first-of-type{ /*18 change "Time" header to dark brown*/
    background:darkslategrey;
  }

/* Table Footer Styles */
table.calender tfoot{
	text-align: center;
  color: white;
  background: black;
}
/*Table Setup end*/
/*
=======
Devices
=======
*/
@media all and (max-width: 480px) {


    body h1, h2 {
      padding: 5px;
      margin: 10px;
      font-size: 1.75em;
    }
  body h2{
         padding: 5px;
      margin: 10px;
  font-size: 1.2em;  
  } 
  header img {
    display: flex;
    flex: 1 1 50%;
  }

nav.topMenu{
  display: flex;
  -webkit-display: flex;
  font-size: 1.2em;
  border-bottom: 2px dotted gray;
  justify-content: space-around;
}
nav.topMenu ul {

  list-style: none;
  display: flex;
  -webkit-display: flex;
}
nav.topMenu ul li {
  padding: 0.5em;
  flex: auto;
  text-align: center;
  vertical-align: baseline;
}
nav.topMenu ul li a {
  text-decoration: none;
  color: slateblue;
}
}

@media all and (min-width: 481px) {


    body h1, h2 {
      padding: 5px;
      margin: 10px;
    }
  body h1 {
  font-size: 1.25em;
  }
  header img {
    display: flex;
    flex: 1 1 50%;
  }
}
  @media all and (min-width: 750px) {


      body h1, h2 {
        padding: 5px;
        margin: 10px;
      }
    body h1 {
    font-size: 2em;
    }
    header img {
      display: flex;
      flex: 1 1 50%;
    }
}
/*
===========
Device End
===========
*/