@charset "utf-8";
/*
Mary Ashley Kovacevich
11-1-2019
layout.css
layout setup for all webpages
*/
*{
  margin: 0;
  padding: 0;
}

html{
  background-image: url(seamless.jpg);

}
header{
  display: block;
  background-image: url(stars.jpg) ;
}
header h1{
  text-shadow: silver 3px 3px 2px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
	float: left;
	text-align: center;
	font-size: 36px;
	padding:25px;
	margin: 30px;
}
.ink{
  display: block;
  width:50%;
  border-radius: 0px 0px 3px 3px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: block;
  width: auto;
  vertical-align: baseline;
}

footer{
  display: block;
  font-size: 1em;
  text-align: center;
}
