@charset "UTF-8";
/*
Mary Ashley Kovacevich
11-1-2019
styles3.css
Style stepup for Kaizu Art pages. Includes Cellphone media query.
Page underconstruction for new images from artist
*/

/*
===================
Design Styles Setup
===================
*/
body h1{
  color: black ;
  text-shadow: silver  2px 2px 2px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  font-size: 32pt;
  text-align: center;
  padding: 25px;
}
body h2{
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 15pt;
}
.headerK{
  display: block;
  width: 50%;
  border-radius: 0px 0px 3px 3px;
  margin-left: auto;
  margin-right: auto;
}
.construct{
  display: block;
  width: 25%;
  border-radius: 0px 0px 3px 3px;
  margin-left: auto;
  margin-right: auto;
}
/*
===================
 Form Layout Styles
===================
*/

form {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

fieldset {
   background-color: honeydew;
   -webkit-flex: 1 1 300px;
   flex: 1 1 300px;
   margin: 10px;
}

div {
   margin: 5px;
   width: 100%;
}

legend {
   color: lightslategray;
   background-color: lightpink;
}

fieldset#uInfo label, fieldset#genQ label {
   margin-bottom: 10px;
   width: 100%;
}

textarea {
  background-color: oldlace;
   display: block;
   width: 90%;
   height: 100px;
}

#subscribe {
   background-color: mistyrose;
   border-radius: 13px;
   height: 50px;
   width: 175px;
   margin-left: auto;
   margin-right: auto;
}

/*form validate*/
input:focus, select:focus, textarea:focus {
background-color: oldlace;
}

input#nameB:focus:valid,
input#pNum:focus:valid{
background: rgb(220,255,220);
}

input#nameB:focus:invalid,
input#pNum:focus:invalid{
background: rgb(255,230,230);
}
/*
=======================
 Form Layout Styles End
=======================
*/

/*
=======
Devices
=======
*/
@media all and (max-width: 480px) {

    body h1, h2 {
      padding: 5px;
      margin: 10px;
      font-size: 1.25em;
    }
  body h2{
  padding: 5px;
  margin: 10px;
  font-size: 1.2em;
  }
  header img {
    display: flex;
    flex: 1 1 50%;
  }
.construct{
  width: 75%;
}

nav.topMenu{
  display: flex;
  -webkit-display: flex;
  font-size: 1.2em;
  background: lightgray;
  border-bottom: 2px dotted gray;
  justify-content: space-around;
}
nav.topMenu ul {

  list-style: none;
  display: flex;
  -webkit-display: flex;
}
nav.topMenu ul li {
  padding: 0.5em;
  flex: auto;
  text-align: center;
  vertical-align: baseline;
}
nav.topMenu ul li a {
  text-decoration: none;
  color: slateblue;
}
}

@media all and (min-width: 481px) {


    body h1, h2 {
      padding: 5px;
      margin: 10px;
    }
  body h1 {
  font-size: 1.25em;
  }
  header img {
    display: flex;
    flex: 1 1 50%;
  }
}
  @media all and (min-width: 750px) {


      body h1, h2 {
        padding: 5px;
        margin: 10px;
      }
    body h1 {
    font-size: 2em;
    }
    header img {
      display: flex;
      flex: 1 1 50%;
    }
}
/*
===========
Device End
===========
*/
